:root{
    --lila: #b56bf187;
    --grislogogato: #bcbbd4;
    --grisoscurogato: #978CA5;
    --verdeGris: #88ad58;
    --blanco: #FFFFFF;
    --negro: #000;
    --fuente: 'Quicksand', sans-serif;
    --rojito: #D27A6C;
}

/*layout*/

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


.my-logo{
    left: 90%;
    top: 0%;
    width: 20%;
    z-index: 1;
}


.my-contain{
    display: absolute;
    height: 4em;
    background: #b56bf187;
    line-height: 3;
    align-items: center;
    padding: 0;
    gap: lem;
    font-size: 150%;
    list-style: none;
}


.apart{
    position: fixed;
    left: 88%;
    }


.aboutUs{
    position: fixed;
}

.lang-en{
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 17px;
  color: black;
}


.lang-en:hover{
  color: #d27a6c;
}


.lang-es{
  position: absolute;
  top: 45px;
  right: 16px;
  font-size: 17px;
  color: black;
}


.lang-es:hover{
  color: #d27a6c;
}


/*welcomepage*/

.posit-btn{
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #000;
    background-color: #b56bf187;
    border-color: #bcbbd4;
    font-size: 24px;
    }


.posit-btn:hover{
     color: #000;
     background-color: #bcbbd4;
     border-color: #b56bf187;
     }

.button-test{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    justify-content: center;
    align-items: center;
    height: 45px;
    }

.text-start{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
    }

.my-text{
text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*testFinished*/



