:root {
    --lila: #b56bf187;
    --grislogogato: #bcbbd4;
    --grisoscurogato: #978CA5;
    --verdeGris: #88ad58;
    --blanco: #FFFFFF;
    --negro: #000;
    --fuente: 'Quicksand', sans-serif;
    --rojito: #D27A6C;
}

/*welcomepage*/
.logo{
    left: 90%;
    top: 0%;
    width: 20%;
    z-index: 1;
}


.container-fluid{
    display: absolute;
    height: 4em;
    background: #b56bf187;
    line-height: 3;
    align-items: center;
    padding: 0;
    gap: lem;
    font-size: 150%;
    list-style: none;
}


.aboutUs{
    position: fixed;
    left: 88%;
    }


.btn-primary{
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #000;
    background-color: #b56bf187;
    border-color: #bcbbd4;
    font-size: 24px;
    }


.btn-primary:hover{
     color: #000;
     background-color: #bcbbd4;
     border-color: #b56bf187;
     }

.button-test{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    justify-content: center;
    align-items: center;
    height: 45px;
    }

.text-start{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
    }

.text-text{
text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.lang-en {
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 17px;
  color: black;
}

.lang-en:hover{
  color: #d27a6c;
}

.lang-es {
  position: absolute;
  top: 45px;
  right: 16px;
  font-size: 17px;
  color: black;
}

.lang-es:hover{
  color: #d27a6c;
}

/*aboutUs*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
          margin: 0 auto; /* Added */
          float: none; /* Added */
          margin-bottom: 10px; /* Added */
}

.card-me {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 8px;
}

.card-me:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.bg-image {
 width:100%;
 background: url("img/decoOne.png") 50% 0 no-repeat fixed;
 background-size:cover;
 opacity: 0.5;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #bcbbd4;
  color: black;
}
.about-text{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

