<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.css"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/ico" th:href="@{/img/logoicon.ico}"/>


    <title>AboutUs</title>
</head>

<body>
<div layout:fragment="content">


<div class="about-section">
    <h1>HowCute Anime Girls Edition</h1>
    <p th:text="#{why.created}"></p>
    <p class="about-text" th:text="#{freelance.text}"></p>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="img/me.png" alt="Me" style="width:100%">
            <div class="container">
                <h2>Bárbara Flores</h2>
                <p class="title" th:text="#{dev.junior}"></p>
                <p th:text="#{descrip.junior}"></p>

                <p>barbii.f26@gmail.com</p>
                <ul class="social-icons d-flex justify-content-center">

                        <a href="https://github.com/bflores96" target="_blank">
                            <span class="fab fa-github fa-2x fa-pull-left"></span>
                        </a>


                        <a href="https://www.linkedin.com/in/barbara-flores-aranda/" target="_blank">
                            <span class="fab fa-linkedin fa-2x"></span>
                        </a>

                </ul>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>

</div>


</body>
</html>