<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/waifustyle.css}">
    <title>HowCuteWaifus</title>
</head>

<body>
<div layout:fragment="content">


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="waifuGrid">
                    <div class="card my-card" th:each="wife : ${waifus}">
                        <img th:src="'/img/' + ${wife.photo}" class="card-img-top">
                        <div class="card-body">
                            <h5  th:text="${wife.name}"></h5>
                            <p class="card-text" th:text="${wife.description}"></p>
                            <a class="btn btn-primary" th:href="${wife.url}">Watch Anime</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>